@media screen and (max-width: 600px) {
    section {
      line-height: 18pt;
      padding: 100px 0 130px 0;
  }

  .mdi-arrow-right {
    top: 16px;
  }
}

@media screen and (min-width: 670px) {
  nav .link-wrap {
    background: none;
    height: initial;
    overflow: visible;
    position: initial;
    text-align: left;
  }
  nav .link-wrap .visible {
    height: initial;
  }
  nav .link-wrap div {
    display: initial;
    font-size: initial;
    margin: 0 20px;
    padding: initial;
  }
  nav .link-wrap div:first-child {
    padding: 0;
  }
  nav .mdi-menu {
    display: none;
  }
}

@media screen and (min-width: 600px) {
  body {
    font-size: 12pt;
  }

  .container {
    padding: 0 20px;
  }

  .header {
    font-size: 30pt;
  }

  .header-bar {
    margin: 25px 0 100px 0;
  }

  .label {
    font-size: 18pt;
  }

  .hex-wrap {
    height: 100px;
    width: 100px;
  }

  .slide,
  .carousel-wrap {
    height: 450px;
  }

  .mdi-chevron-left,
  .mdi-chevron-right {
    font-size: 25pt !important;
  }

  .modal-wrap .modal {
    height: initial;
    top: -6vh;
  }
  .modal-wrap .info-box {
    padding: 35px 60px 90px 25px;
  }
  .modal-wrap .title {
    font-size: 22pt;
    line-height: 30pt;
  }
  .modal-wrap .tag {
    font-size: 11pt;
  }
  .modal-wrap .detail {
    font-size: 11pt;
    line-height: 18pt;
    margin-top: 15px;
  }
  .modal-wrap .close {
    right: 25px;
  }
  .modal-wrap .button {
    left: 25px;
  }

  section .container {
    padding: 0 10px;
  }
}

@media screen and (min-width: 960px) {
  .waypoint {
    opacity: 0;
  }

  .animated.waypoint#gallery {
    opacity: 1;
  }
  .animated.waypoint#gallery .mix:nth-child(1) > div {
    animation: slideUp 0.75s 0.1s ease both;
    opacity: 0;
  }
  .animated.waypoint#gallery .mix:nth-child(2) > div {
    animation: slideUp 0.75s 0.2s ease both;
    opacity: 0;
  }
  .animated.waypoint#gallery .mix:nth-child(3) > div {
    animation: slideUp 0.75s 0.3s ease both;
    opacity: 0;
  }
  .animated.waypoint#gallery .mix:nth-child(4) > div {
    animation: slideUp 0.75s 0.4s ease both;
    opacity: 0;
  }
  .animated.waypoint#gallery .mix:nth-child(5) > div {
    animation: slideUp 0.75s 0.5s ease both;
    opacity: 0;
  }
  .animated.waypoint#gallery .mix:nth-child(6) > div {
    animation: slideUp 0.75s 0.6s ease both;
    opacity: 0;
  }
  .animated.waypoint#gallery .mix:nth-child(7) > div {
    animation: slideUp 0.75s 0.7s ease both;
    opacity: 0;
  }
  .animated.waypoint#gallery .mix:nth-child(8) > div {
    animation: slideUp 0.75s 0.8s ease both;
    opacity: 0;
  }
  .animated.waypoint#gallery .mix:nth-child(9) > div {
    animation: slideUp 0.75s 0.9s ease both;
    opacity: 0;
  }

  .animated.slide-up {
    animation: slideUp 0.75s ease both;
  }
  .animated.slide-down {
    animation: slideDown 0.75s ease both;
  }
  .animated.slide-in-left {
    animation: slideInLeft 0.75s ease both;
  }
  .animated.slide-in-right {
    animation: slideInRight 0.75s ease both;
  }
  .animated.flip-in-x {
    animation: flipInX 0.75s ease both;
  }
  .animated.fade-in {
    animation: fadeIn 0.75s ease both;
  }
  .animated.pop-in {
    animation: popIn 1s both;
  }

  .canvas {
    background: #252934;
  }

  .button {
    font-size: 16pt;
  }

  .flex.row-gt-sm {
    flex-direction: row;
  }

  .flex-50-gt-sm {
    box-sizing: border-box;
    -webkit-flex: 1 1 50%;
    -ms-flex: 1 1 50%;
    flex: 1 1 50%;
    max-height: 100%;
    max-width: 50%;
  }
}
