::-webkit-scrollbar {
    width: 0px;
}

img {
  height: 80% !important;
}
.HomeProjects-item {
  height: auto !important;
}

.HomeProjects-item-caption-index {
  padding: 0 !important;
}
a {
  color: inherit;
  text-decoration: none;
}
.example::-webkit-scrollbar {
  display: none;
}
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
  color: #fff;
  font-family: "Raleway";
  font-size: 8pt;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0px;
  overflow-x: hidden;
  text-align: center;
}

.textarea {
  resize: none;
}
#preload {
  display: none;
}

.page-link {
  cursor: pointer;
}

.disable-hover {
  pointer-events: none;
}

.overflow-wrap {
  overflow-x: hidden;
}

.button {
  border: 2px solid #fff;
  box-sizing: inherit;
  cursor: pointer;
  display: inline-block;
  font-size: 13pt;
  padding: 10px 20px;
  transition: all 0.5s;
}
.button:hover {
  background-color: #04c2c9;
  border-color: #04c2c9;
}
.button .mdi {
  vertical-align: middle;
}

.bold {
  font-family: "Raleway-bold";
}

.flex {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.flex.row {
  flex-direction: row;
}
.flex.wrap {
  flex-wrap: wrap;
}

.hex-wrap {
  display: inline-block;
  height: 80px;
  position: relative;
  text-align: center;
  width: 80px;
}

.hexagon {
  top: 24px;
  background-color: #04c2c9;
  display: inline-block;
  height: 100%;
  width: calc(100% * 0.57735);
}
#me-photo-container {
  align-self: center;
}

.hexagon:before {
  background-color: inherit;
  content: "";
  height: inherit;
  position: absolute;
  right: calc((100% / 2) - ((100% * 0.57735) / 2));
  top: 0;
  transform: rotateZ(60deg);
  width: inherit;
}

.hexagon:after {
  background-color: inherit;
  content: "";
  height: inherit;
  position: absolute;
  right: calc((100% / 2) - ((100% * 0.57735) / 2));
  top: 0;
  transform: rotateZ(-60deg);
  width: inherit;
}

.highlight {
  color: #e31b6d;
}

.header {
  color: #444649;
  font-family: "raleway-bold";
  font-size: 25pt;
  position: relative;
  position: relative;
}

.header-bar {
  background: #444649;
  height: 4px;
  margin: 25px 0 75px 0;
  width: 70px;
}

.label {
  font-size: 14pt;
  font-weight: 500;
}

.resume {
  background: #455261;
  height: 100px;
}

nav {
  bottom: 0;
  left: 0;
  position: absolute;
  background: #1b242f;
  border-bottom: 3px solid #04c2c9;
  height: 50px;
  text-align: left;
  width: 100%;
  z-index: 99;
}
nav.fixed {
  bottom: inherit;
  left: 0;
  position: fixed;
  top: 0;
}
nav.fixed.desk {
  animation: popDown 0.5s;
}
nav .link-wrap {
  background: #333;
  height: 0;
  max-width: 1200px;
  overflow: hidden;
  position: absolute;
  top: 53px;
  transition: height 0.3s ease-out;
  width: 100%;
}
nav .link-wrap.visible {
  height: auto;
}
nav .link-wrap div {
  cursor: pointer;
  font-size: 12pt;
  padding: 12px 20px;
  text-transform: uppercase;
  transition: color 0.5s;
}
nav .link-wrap div:first-child {
  padding: 25px 20px 12px 20px;
}
nav .link-wrap div:hover {
  color: #e31b6d;
}
nav .mdi-menu {
  font-size: 30pt;
  line-height: 36pt;
  margin: auto 0;
  position: absolute;
  right: 5vw;
  top: 0;
}
nav .active {
  color: #e31b6d;
}

.carousel-wrap {
  height: 250px;
  margin: 0 auto;
  position: relative;
}

.window {
  background: #222;
  overflow: hidden;
  position: relative;
}

#carousel {
  position: relative;
  top: 0;
  width: 10000px;
}

.slide {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  float: left;
  height: 250px;
  justify-content: center;
}

.mdi-chevron-left,
.mdi-chevron-right {
  background: rgba(0, 0, 0, 0.3);
  bottom: 0;
  color: #fff;
  cursor: pointer;
  cursor: pointer;
  font-size: 14pt !important;
  font-weight: bold;
  padding: 10px 15px;
  position: absolute;
}

.mdi-chevron-left {
  left: 0;
}

.mdi-chevron-right {
  right: 0;
}

.transition {
  transition: 0.7s;
}

.modal-wrap {
  height: 100vh;
  pointer-events: none;
  position: fixed;
  width: 100vw;
  z-index: 100;
}
.modal-wrap .mask {
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: opacity 0.3s;
  width: 100%;
}
.modal-wrap .modal {
  align-items: flex-start;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  color: #333;
  height: 100vh;
  opacity: 0;
  position: relative;
  text-align: left;
  transform: scale(0.8);
  transition: all 0.3s;
}
.modal-wrap .close {
  bottom: 25px;
  color: #bbb;
  cursor: pointer;
  font-size: 20pt;
  font-weight: 800;
  position: absolute;
  right: 10px;
}
.modal-wrap .info-box {
  border-top: 3px solid #1b242f;
  box-sizing: border-box;
  color: #444;
  padding: 15px 10px 85px 10px;
}
.modal-wrap .title {
  font-family: "Raleway-bold";
  font-size: 16pt;
  line-height: 20pt;
}
.modal-wrap .tag {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  color: #c0c0c0;
  display: block;
  font-family: "Raleway-bold";
  font-size: 8pt;
  font-weight: 300;
  padding-bottom: 15px;
}
.modal-wrap .detail {
  font-size: 9pt;
  line-height: 14pt;
  margin-top: 13px;
}
.modal-wrap .mdi-open-in-new {
  font-size: 11pt;
  left: -10px;
  position: relative;
}
.modal-wrap .button {
  background: #e31b6d;
  border: 0;
  bottom: 20px;
  color: #fff;
  cursor: pointer;
  font-size: 10pt;
  font-weight: 600;
  left: 10px;
  padding: 11px 30px;
  pointer-events: none;
  position: absolute;
  transition: all 0.5s;
  visibility: hidden;
}
.modal-wrap .button.visible {
  pointer-events: initial;
  visibility: visible;
}
.modal-wrap .button:hover {
  background: #fff;
  color: #e31b6d;
}
.modal-wrap .carousel {
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.25);
}
.modal-wrap.visible {
  pointer-events: initial;
}
.modal-wrap.visible .modal {
  opacity: 1;
  transform: scale(1);
}
.modal-wrap.visible .mask {
  opacity: 1;
}

section {
  color: #616161;
  line-height: 11pt;
  padding: 70px 0 70px 0;
  position: relative;
}
section .container {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 10px;
  width: 100%;
}

section .flex-50-gt-sm {
  display: block;
}

footer {
  background: #1b242f;
  padding: 70px 0 50px 0;
  position: relative;
}
footer .mdi-chevron-double-up {
  background: #e31b6d;
  cursor: pointer;
  font-size: 30pt;
  height: 50px;
  left: 0;
  line-height: 40pt;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: -25px;
  transition: background 0.5s;
  width: 47px;
}
footer .mdi-chevron-double-up:hover {
  background: #fb1f79;
}
footer .icon-wrap .icon {
  background: #262f38;
  cursor: pointer;
  font-size: 18pt;
  height: 55px;
  margin: 0 15px;
  overflow: hidden;
  position: relative;
  text-align: center;
  transition: background 0.3s, color 0.3s, box-shadow 0.3s, transform 0.3s;
  width: 55px;
}
footer .icon-wrap .mdi {
  color: #fff;
  text-align: center;
}
footer .icon-wrap .mdi.mdi-codepen {
  font-size: 20pt;
}
footer .icon-wrap .icon:hover {
  background: #04c2c9;
  box-shadow: 0 0 0 3px rgba(4, 94, 201, 0.1);
  transform: scale(0.9);
}
footer .icon-wrap .icon:hover .mdi {
  color: #fff;
}
footer .icon-wrap .icon:hover .mdi {
  -webkit-animation: toBottomFromTop 0.3s forwards;
  -moz-animation: toBottomFromTop 0.3s forwards;
  animation: toBottomFromTop 0.3s forwards;
}
footer .footnote {
  color: #8f9aa7;
  font-size: 10pt;
  margin-top: 35px;
  opacity: 0.6;
}
footer .footnote .highlight {
  color: #e31b6d;
  font-family: "Open Sans";
}

.tile {
  background-color: #04c2c9;
  color: #fff;
  border-radius: 3px;
  width: 110px;
  font-family: "Raleway-bold";
  padding: 5px;
}

.about-me-text {
  line-height: 1.2;
}

/*# sourceMappingURL=style.css.map */
