.section-4 {
  padding: 130px 0 100px 0;
  text-align: left;
}
.section-4 .flex.row-gt-sm,
.section-4 .flex.wrap {
  align-items: flex-start;
}
.section-4 .gradient {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.section-4 .blog-wrap {
  cursor: pointer;
  margin: 0 0 50px 0;
  padding: 0 2px;
  width: 100%;
}
.section-4 .blog-wrap .fade-wrap {
  transition: opacity 0.3s;
}
.section-4 .blog-wrap.fade .fade-wrap {
  opacity: 0.4;
}
.section-4 .blog-wrap.hover .fade-wrap .label {
  color: #04c2c9;
}
.section-4 .label {
  font-size: 12pt;
  line-height: 14pt;
  transition: color 0.3s ease-in-out;
}
.section-4 .thumb {
  height: 150px;
  margin: 0 0 15px 0;
}
.section-4 .date {
  font-family: "Open sans";
  font-size: 7pt;
  margin: 5px 0 0 0;
}
.section-4 .bar {
  background: #04c2c9;
  height: 3px;
  margin: 10px 0px;
  width: 25%;
}
.section-4 .text {
  font-size: 9pt;
  line-height: 13pt;
  max-height: 85px;
}

@media screen and (min-width: 600px) {
    .section-4 {
    padding: 130px 0 180px 0;
  }
  .section-4 .label {
    font-size: 16pt;
    line-height: 22pt;
  }
  .section-4 .date {
    font-size: 8.5pt;
  }
  .section-4 .bar {
    margin: 15px 0px;
  }
  .section-4 .text {
    font-size: 11pt;
    line-height: 15pt;
  }
  .section-4 .blog-wrap {
    width: 400px;
  }
  .section-4 .thumb {
    height: 200px;
  }
}

@media screen and (min-width: 960px) {
    .section-4 .blog-wrap {
        margin: 0 0 50px 20px;
        opacity: 0;
        width: 400px;
  }
}

@media screen and (min-width: 1280px) {
  .section-4 .blog-wrap {
    margin: 0 0 50px 20px;
    width: 270px;
  }
}
